	
body{
background-color: #f2f2f2;
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
}


.btns-level{
width: 75px;
height: 35px;
cursor: pointer;
border: none;
outline: solid 1px gray;
font-family: verdana;
border-radius: 8px;
}

.easy{
background-color: yellow;
}

.mid{
background-color: darkorange;
}

.hard{
background-color: crimson;	
}

.smart{
background-color: aquamarine;
}

.inputs{
width: 400px;
height: 50px;
margin-top: 6px;
border: none;
outline: none;
background-color: #e5e5e5;
}

.true{
margin-top: 5px;
font-size: 25px;
font-family: changa;
border-top: solid 1px gray;
display: none;
}

.numbers{
width: 200px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.ask2{
text-align: right;
}

.plus{
display: flex;
align-items: center;
background-color: #e3e3e3;
margin-top: 6px;
font-size: 25px;
}

.answer_button{

width: 125px;
height: 35px;
cursor: pointer;
margin-top: 15px;
border: none;
outline: solid 1px gray;
background-color: lightgreen;
font-family: changa;
}

.final_score_container{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}

.final_score{

width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #f2f2f2;
display: none;
}

.number_true_or_false_font{
color: black;
font-size: 25px;
font-family: changa;
display: inline-block;
padding: 25px;
border: solid 1px black;
}

score-num{
height: 46px;
}

.true_score{
color: green;
}


.false_score{
color: red;
}

.exit_btn{
color: black;
font-family: changa;
cursor: pointer;
position: absolute;
left: 5px;
top: 5px;
}
